%h1
  SchemaDoc Overview
= raw(schema_doc_flash)
%p
  Click on a model name to see the meaning of its columns. 
%object{:data=>SchemaDoc.svg_public_relative_file_path,:type=>"image/svg+xml",:viewBox=>nil}